.App {
  text-align: center;
}
.main{
  background-color: #2e669a;
  margin: 50px auto;
  height: 80vh;
  width: 30vw;
  border-radius: 8%;
  -webkit-box-shadow: 10px 10px 10px  #918c8c;
  box-shadow: 10px 10px 10px  #918c8c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.cold,
.hot{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid white;
  margin: 0 auto;
  color: white;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cold{
  background-color: #1487f8;
}
.hot{
  background-color: orangered;
}
.buttons{
  display: flex;
  justify-content: space-evenly;
}

.plus,
.minus{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: #646363;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}